
<h2>Adicionar Cliente</h2>

<form method="post">
    <div>
        <label>Nome</label>
        <input type="text" name="Nome" required autofocus>
    </div>

    <div>
        <label>Idade</label>
        <input type="number" name="Idade" required>
    </div>

    <div>
        <button type="submit">Salvar</button>
        <button type="reset">Limpar</button>
    </div>
</form>

