<h2>Listagem de Produtos</h2>

<div>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Tipo</th>
                <th>Cadastro</th>
            </tr>
        </thead>

        <tbody>
            @foreach (FN.Store.UI.Models.Produto produto in Model)
            {
                <tr>
                    <td>@produto.Nome</td>
                    <td>@produto.Preco</td>
                    <td>@produto.Tipo</td>
                    <td>@produto.DataCadastro</td>
                </tr>
            }
        </tbody>
    </table>
</div>